@keyframes pulse
{
    0%
    {
        border: 5px solid rgba(240, 128, 128, 0.3);
    }
    20%
    {
        border: 15px solid rgba(240, 128, 128, 0.6);
    }
    40%
    {
        border: 25px solid rgba(240, 128, 128, 0.9);
    }
    60%
    {
        border: 15px solid rgba(240, 128, 128, 0.6);
    }
    80%
    {
        border: 10px solid rgba(240, 128, 128, 0.3);
    }
    100%
    {
        border: 5px solid rgba(240, 128, 128, 0.3);
    }
}

@keyframes img-blur-animation {
    0% {
        -webkit-filter: blur(50px);
        -moz-filter: blur(50px);
        -o-filter: blur(50px);
        -ms-filter: blur(50px);
        filter: blur(50px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

#sections {
    position: relative;
    display: inline-block;
    /*width: 250px;*/
    z-index: 90;
}

.step {
    margin-bottom: 100px;
    padding-top:74px;
    min-height: 350px;

}

.container-fluid{
    margin-top: 74px;
}

nav{
    background-color: rgba(247, 247, 247, 0.4) !important;
}

.navbar-brand{
    /*margin-left: 80%;*/
}
.navbar-brand.me{
    margin-left: 2%;
    color: rgba(240, 128, 128, 1.0)!important;
    height: 50px;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 75px;
    z-index: 1;
    margin-left: 0;
    height: 100%;
    width: 70%;
    background-color: rgba(247, 247, 247, 0.4) !important;
    padding: 20px;
    /*background-color: #ddd;*/
}

#vis > div{
    font-size: large;
}

#graphic{
    /*margin-left: 30px;*/
    /*padding-left: 10px;*/
}

.profile-img{
    -webkit-border-radius: 49%;
    -moz-border-radius: 49%;
    border-radius: 49%;
}

.profile-img.lg{
    width: 245px;
    height: 264px;
    border: 25px solid rgba(240, 128, 128, 0.3);
    /*animation: pulse 1s infinite;*/
}

.profile-img.sm{
    width: 47px;
    height: 50px;
    border: 5px solid rgba(240, 128, 128, 0.4);
}

.fixed-welcome{
    position: fixed;
    padding: 100px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1031;
    background-color: rgba(247, 247, 247, 1.0);
}

.intro{
    margin-top:15%;
    font-size: xx-large;
    color: rgba(240, 128, 128, 1.0);
}

.title {
    margin-right: 10px;
    font-size: large;
    color: rgba(240, 128, 128, 1.0);
}

.close.lg{
    color:rgba(240, 128, 128, 1.0);
    font-size: 4em;
    font-weight: lighter;
}

div > a > img {
    width:60px;
    height:60px;
    padding: 4px;
}
.card > div > div > div{
    text-align: center;
}

label.grey{
    color: grey;
}
.nav-link{
    color: lightgray;
}
.nav-item.active{
    color:rgba(245, 128, 128, 1.0);
}

#social{
    /*position: fixed;*/
}

line{
    stroke: rgba(240, 128, 128, 1.0);
    stroke-width: 4px;
}

text{
    font-size: x-small;
    font-family: "Helvetica Neue", monospace;
}

.d3-tip{
    z-index: 100;
    border: 2px solid rgba(240, 128, 128, 0.9);
    background-color: white;
    color: lightgray;
    padding: 10px;
    max-width:350px;
    max-height:350px;
}

.d3-tip > h3{
    color: grey;
}

.d3-tip > p > img{
    max-width:200px;
    max-height:200px;
}

.node.fixed {
    fill: #f00;
}

circle{
    cursor: pointer;
    fill: #FFFFFF;
    stroke: blue;
    stroke-width: 3px;
    stroke-opacity: 0.5;
}

text{
    /*fill: darkgrey;*/
    font-size: small;
    cursor: pointer;
    font-weight: 500;
}
.card{
    border: none;
    border-radius: 0;
}

.card-text{
    padding: 10px;
    height: 120px;
    min-height:120px;
    overflow-y: scroll;
    border-left: 7px solid rgba(240, 128, 128, 0.9);
}

.card-header{
    border-radius: 0!important;
    background-color: #FFFFFF;
    border-left: 7px solid rgba(240, 128, 128, 0.9);
    border-top: 1px solid rgba(240, 128, 128, 0.9);;
    border-right: none;
    border-bottom: none;
}
.card-footer{
    color: #0e920e;
    font-size:small;
    border-radius: 0!important;
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 7px solid rgba(240, 128, 128, 0.9);
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgba(240, 128, 128, 0.9);
    min-height: 64px;
    padding-bottom:0;
}

.badge{
    background-color: #f00;
    color: white;
}

.img-fluid{
    width: 100%;
    height:300px;
}

#search-ico,
#search{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

#search-ico{
    background-color: transparent;
    color: rgba(240, 128, 128, 0.9);
    cursor: pointer;
}
