#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 60px;
    z-index: 90;
}

.step {
    margin-bottom: 300px;
}

.container{
    margin-top: 50px;
}

nav{
    background-color: rgba(247, 247, 247, 0.4) !important;
}
.navbar-brand{
    margin-left: 40%;
    color: rgba(240, 128, 128, 1.0)!important;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 55px;
    z-index: 1;
    margin-left: 0;

    height: 600px;
    width: 600px;
    background-color: rgba(247, 247, 247, 0.4) !important;
    /*background-color: #ddd;*/
}

#graphic{
    margin-left: 30px;
}